/*
 * $Id: screen.css,v 1.1 2005/01/13 13:39:52 romale Exp $
 */

body {
background: white;
color: black;
margin: 0;
padding: 0;
font-family: "Bitstream Vera", Tahoma, Arial, Helvetica, sans-serif;
font-size: 11px;
}

h1 {
font-size: 200%;
margin: 1em 0;
padding: 0;
}

p {
margin: 0.5em 0;
padding: 0;
}


#iewarning {
display: none;
}


#page {
margin: 0;
padding: 0 1em 1em 1em;
}
