/*
 * $Id: screen-ie.css,v 1.3 2005/01/19 09:48:44 romale Exp $
 */

#iewarning {
display: block !important;
background: #ffffcc;
color: black;
padding: 0 0 0 8px;
border-bottom: 1px solid #ddd;
}

#iewarning p {
font-family: Arial, sans-serif;
font-size: 11px;
margin: 0;
padding: 1em 2em;
background: transparent url(../images/16x16/important.gif) no-repeat center left;
}

#iewarning a {
text-decoration: underline;
color: blue;
}


h2 {
position: relative;
}


#menu ul li {
float: left;
height: 1%;
}

#menu ul li a {
height: 1%;
}

#menu li.over ul {
display: block;
}
